@import '../../sass/variables';

.PageNumbers {

    &Btn {
        border: none;
        padding: 3px 10px;
        @extend %contrast-button-hover;
    }
}

@media (max-width: 768px) {
    .PageNumbers {

        &Num {
            padding: 3px 5px;
        }

        &Btn {
            color: #fefefe;
            background: $bittersweet;
        }
    }
}