@import '../../sass/variables';

.ProductPage {
    @extend %page-wrapper;

    &Cover {

        &Photo {
            width: 100%;
            height: auto;
        }
    }

    &Description {
        color: #555555;
        padding-left: 25px;

        &Title {
            font-size: 3rem;
            font-weight: 300;
            padding-top: 25px;
            margin-left: -3px;
            margin-bottom: 8px;
            letter-spacing: 2px;
        }

        &Genre {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 16px;
            letter-spacing: 1px;
        }

        &Price {
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-bottom: solid #888888 .1px;

            .PrevPrice {
                text-decoration: line-through;
                color: #adadad;
                margin-right: 10px;
            }
        }

        &Text {
            line-height: 1.8;
            font-weight: 400;
            font-size: 1.1rem;
            margin-bottom: 25px;
        }

        &ToCartBtn {
            @extend %gradient-btn;
            width: 100%;
            max-width: 300px;
        
        }
    }
}

@media (max-width: 768px) {
    .ProductPage {
        padding: 160px 0 0 0;

        &Cover {
    
            &Photo {
                width: 62%;
                height: auto;
                margin: 0 auto;
            }
        }
    }
}