.MainLayoutWrapper {
    position: relative;
}

.MainLayoutModalBackground {
    position: fixed;
    z-index: 950;
    background: rgba(0, 0, 0, .3);
    height: 100vh;
    width: 100vw;
}

.cartBackground-enter {
  opacity: 0.01;
}
  
.cartBackground-enter.cartBackground-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.cartBackground-leave {
  opacity: 1;
}

.cartBackground-leave.cartBackground-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}