.ProductThumbnail {
    background: none;
    padding: 0;
    margin-bottom: 40px;

    &Link:hover {
        text-decoration: none;
    }

    &Link:hover &Cover {
        transform: rotate(5deg);
        transition: .6s;
    }

    &Link:hover &CoverImgFirst {
        transform: scale(.85);
        transition: .4s;
    }

    &Link:hover &CoverImgSecond {
        opacity: 1;
        transform: translateX(-20%);
        transition-delay: .2s;
        transition: .4s;
    }

    &Cover {
        position: relative;
        transition: .4s;

        &Img {
            transition: .4s;

            &First {
                height: 515px;
                width: 290px;
                transition: .4s;
            }

            &Second {
                position: absolute;
                opacity: 0;
                z-index: -99;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 515px;
                left: 50%;
                transform: translateX(-50%);
                transition: .4s;
                width: auto;
            }
        }
    }

    &Description {
        max-width: 300px;
        padding: 10px 0;
        text-align: center;
        color: #222222;
        text-decoration: none;

        &Title {
            font-weight: 300;
            letter-spacing: 1px;
            font-size: 1.3rem;
            margin: 0;
            padding-bottom: 2px;
        }
    
        &Price {
            margin: 0;
            color: #555555;
            font-weight: 500;
            font-size: 1rem;
            margin: 0;

            .PrevPrice {
                text-decoration: line-through;
                color: #adadad;
                margin-right: 10px;
            }
        }

    }
}

@media (max-width: 1024px) {

    .ProductThumbnail {
    
        &Cover {
    
            &Img {
    
                &First {
                    height: 450px;
                    width: 263px;
                }
    
                &Second {
                    height: 450px;
                }
            }
        }
    }

}

@media (max-width: 768px) {

    .ProductThumbnail {
    
        &Link:hover {
            text-decoration: none;
        }
    
        &Link:hover &Cover {
            transform: rotate(0);
            transition: 0s;
        }
    
        &Link:hover &CoverImgFirst {
            transform: scale(1);
            transition: 0;
        }
    
        &Link:hover &CoverImgSecond {
            transform: translateX(-50%);
            transition-delay: 0s;
            transition: 0s;
        }
    
        &Cover {
            position: relative;
            transition: 0s;
    
            &Img {
                transition: 0s;
    
                &First {
                    transition: 0s;
                }
    
                &Second {
                    transition: 0s;
                }
            }
        }
    }
}