@import '../../sass/variables';

.Header {
    position: fixed;
    z-index: 99;
    background: #fefefe;
    width: 100vw;
    
    &Wrapper {
        max-width: 1200px;
        padding: 0 35px;
        margin: 0 auto;
    }

    &Logo {
        text-align: center;
        padding: 25px 0;
        font-size: 2.5rem;
        letter-spacing: 4px;
        font-family: 'Rockout', sans-serif;
        background: $bittersweet;
        background: $gradient;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        a {
            text-decoration: none;
        }
    }


    &Nav {
        font-size: 20px;

        &SearchBar {
            border: 1.6px solid #222222;
            border-radius: 100px;
            padding: 2px 28px;
            font-size: 1rem;
            height: 30px;
            width: 180px;
            text-align: right;
            transition: .4s;
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjMuODA5IDIxLjY0NmwtNi4yMDUtNi4yMDVjMS4xNjctMS42MDUgMS44NTctMy41NzkgMS44NTctNS43MTEgMC01LjM2NS00LjM2NS05LjczLTkuNzMxLTkuNzMtNS4zNjUgMC05LjczIDQuMzY1LTkuNzMgOS43MyAwIDUuMzY2IDQuMzY1IDkuNzMgOS43MyA5LjczIDIuMDM0IDAgMy45MjMtLjYyNyA1LjQ4Ny0xLjY5OGw2LjIzOCA2LjIzOCAyLjM1NC0yLjM1NHptLTIwLjk1NS0xMS45MTZjMC0zLjc5MiAzLjA4NS02Ljg3NyA2Ljg3Ny02Ljg3N3M2Ljg3NyAzLjA4NSA2Ljg3NyA2Ljg3Ny0zLjA4NSA2Ljg3Ny02Ljg3NyA2Ljg3N2MtMy43OTMgMC02Ljg3Ny0zLjA4NS02Ljg3Ny02Ljg3N3oiLz48L3N2Zz4=) no-repeat;
            background-position: 155px 6px;
            background-size: 15px;
            margin-top: 5px;


            &:active,
            &:focus {
                outline: none;
                width: 250px;
                background-position: 225px 6px;
                transition: .4s;
            }
        }

        &Icon {
            color: #222222;
            text-decoration: none;
            margin-left: 20px;
            position: relative;

            &:hover {
                text-decoration: none;
                cursor: pointer;
            }

            &:visited {
                color: #222222;
            }

            &.NavLinkActive {
                font-weight: 500;
            }

            .CartQuantity {
                position: absolute;
                bottom: -8px;
                right: -5px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fefefe;
                text-align: center;
                font-size: .7rem;
                font-weight: 500;
                background: $bittersweet;
                border-radius: 50%;
                min-height: 18px;
                min-width: 18px;
            }
        }
    }
}

@media (max-width: 768px) {

    .Header {
    
        &Logo {
            padding: 25px 0 0 0;
            font-size: 2.1rem;
        }
    
    
        &Nav {
            margin-bottom: 15px;
    
            &SearchBar {
    
                &:active,
                &:focus {
                    width: 180px;
                    background-position: 155px 6px;
                }
            }
        }
    }
}