.Footer {
    background: #fefefe;
    height: 110px;
    
    &Wrapper {
        max-width: 1200px;
        padding: 50px 45px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &Text {
        font-size: .9rem;
        letter-spacing: 2px;
        font-weight: 500;
    }


    &Nav {
        font-size: .9rem;
        text-align: right;

        &Link {
            color: #222222;
            padding: 0 0 0 35px;
            text-decoration: none;

            &:visited {
                color: #222222;
            }

            &.NavLinkActive {
                font-weight: 500;
            }
        }
    }
}